@media (max-width: 1000px){
    body{
        grid-template-areas: "header"
                             "container"
                             "footer";
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        margin: 5%;
    }

    .header{
        display: flex;
        margin: 4rem 0;
    }
    .header img{
        max-width: 100%;
    }

    .container{
        flex-direction: column;
    }

    .container .infos{
        max-width: 100%;
        margin: 0 auto;
        text-align: center;
    }

    .container .infos h1{
        font-size: 3rem;
    }
    .container .picture img{
        flex: 1;
        min-width: 100%;
    }

    .container .infos a{
        align-self: center;
    }

    .footer {
        justify-content: center;
        padding: 0;
        height: 100%;
        margin: 5rem auto;
    }
}

@media (max-width: 425px){
    body{
        background: url(../images/bg-mobile.svg) center center no-repeat;
        background-size: cover;
        background-color: hsl(257, 40%, 49%);
        margin: 5%;
    }

    .header img{
        max-width: 50%;
    }

    .container .infos p{
        font-size: 1.5rem;
    }

    .container .infos a{
        margin-top: 3rem;
    }

    .footer{
        height: 100%;
        gap: 3.5rem;
    }
}