html{
    font-size: 62.5%;
}
body{
    display: grid;
    grid-template-areas: "header header"
                         "container container"
                         "footer footer";
    grid-template-columns: 1fr 1fr;
    background: url(../images/bg-desktop.svg) center center no-repeat;
    background-size: cover;
    height: 100vh;
    background-color: hsl(257, 40%, 49%);
    margin-left: 4%;
}

.header{
    grid-area: header;
    margin-top: 3rem;
    text-align: start;
}

.header img{
    max-width: 100%;
}

.container{
    grid-area: container;
    display: flex;
    flex-wrap: nowrap;
}

.container .picture img{
    max-width: 100%;
    min-width: 650px;
    size: cover;
}

.container .infos{
    display: flex;
    flex-direction: column;
    color: #fff;
    margin: 0 5%;
    max-width: 100%;
}

.container .infos h1{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 4rem;
    padding: 3rem 0px;
}

.container .infos p{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 3rem;
    font-size: 1.9rem;
}

.container .infos a{
    align-self: flex-start;
    padding: 1.5rem 6rem;
    margin-top: 5rem;
    background-color: #fff;
    font-size: 2.1rem;
    border-radius: 3rem;
    color: hsl(257, 40%, 49%);
    transition: 0.3s ease-in-out;
}

.infos a:hover{
    background-color: hsl(300, 69%, 71%);
    color: #FFF;
}

.footer{
    grid-area: footer;
    display: flex;
    justify-content: flex-end;
    padding-right: 10rem;
    gap: 2.5rem;
}

.footer a{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    border: 0.1rem solid #fff;
    font-size: 3rem;
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    transition: 0.3s ease-in-out;
}

.footer a:hover{
    color: hsl(300, 69%, 71%);
}

/* .footer{
    grid-area: footer;
    display: flex;
    justify-content: flex-end;
    gap: 25px;
    margin-bottom: 30px;
    margin-right: 20px;
}

.footer a{
    color: #fff;
    padding: 1.1rem 1.3rem;
    font-size: 2rem;
    border: 0.1rem solid;
    border-radius: 50%;
    transition: 0.3s ease-in-out;
}

 */
